@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<p>Birdbrained is an ASP.NET MVC project made in Visual Studio.</p>
<p>An Excel speadsheet from a field biology course I took in college serves as the data source for a SQL Server Database.</p>
<p>While guests and other registered users can view the bird index and details about individual birds, superusers have full CRUD functionality.</p>
