@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    <a href="https://zacharyvelcoff.com/" target="_blank">https://zacharyvelcoff.com/</a>
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:zackfactual@gmail.com">zackfactual@gmail.com</a>
</address>