@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Birdbrained</h1>
    <p class="lead">Birdbrained is a study guide and taxonomic key to the birds of Tompkins County, New York</p>
</div>

<div class="row">
    <div class="col-md-12">
        <p>&bull; @Html.ActionLink("Enter as Guest", "../UserArea/UserBirds/Index")<p/>
    </div>
</div>